*.json
*.db
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf
*.iml
*.class
*.jar
*.war
*.ear
*.log
.DS_Store
Thumbs.db
.idea/libraries
.idea/modules
/build
/dist
*.spec
