*.json
*.db
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
.idea
.idea/*
*.iml
*.class
*.jar
*.war
*.ear
*.log
.DS_Store
Thumbs.db
.idea/libraries
.idea/modules
/build
/dist
*.spec
*.yaml
qodana.*
